<breadcrumb></breadcrumb>

<div class="matero-row" fxLayout="row wrap">

  <div class="matero-col" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="text-white bg-cyan-400">
      <mat-card-content>
        <div class="matero-row">
          <div class="matero-col" fxFlex.gt-sm="10" fxFlex.gt-xs="40" fxFlex="40">
            <div class="m-y-auto">
              <img class="matero-user-panel-avatar" src="https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
          </div>
          <div class="matero-col d-flex" fxFlex.gt-sm="90" fxFlex.gt-xs="60" fxFlex="60">
            <div class="m-y-auto">
              <small class="text-muted"><strong>Tienda:</strong></small>
              <h1 class="m-y-0">NathyFrutas</h1>
              <small class="text-muted"><strong>Categoria:</strong> Fruterias</small>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Statistics -->
  <div class="matero-col" fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100"
       *ngFor="let stat of stats">
    <mat-card [ngClass]="['text-white', stat.color]">
      <mat-card-title class="f-s-12 f-w-100">{{stat.title}}</mat-card-title>
      <mat-card-content>
        <h2>{{stat.amount | currency }}</h2>
        <mtx-progress [value]="stat.progress.value"
                      height="2px"
                      foreground="rgba(255,255,255,1)"
                      background='rgba(0,0,0,.5)'>
        </mtx-progress>
        <small class="text-muted">Mes actual</small>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Charts -->
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="60">
    <mat-card>
      <mat-card-subtitle>Resumen financiero (Hoy)</mat-card-subtitle>
      <div id="chart1"></div>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="40">
    <mat-card>
      <mat-card-subtitle>Resumen gastos (Semana)</mat-card-subtitle>
      <div id="chart2"></div>
    </mat-card>
  </div>
</div>
